<!DOCTYPE html>
<html>

<head>
    <title>Some WebSites</title>
    <meta charset="utf-8"></meta>
</head>

<body>
    {{> header}}
    <h1>{{screamIT welcomeMessage}}</h1>
    {{> footer}}
</body>

</html>