<!DOCTYPE html>
<html>

<head>
    <title>Some WebSites</title>
    <meta charset="utf-8"></meta>
</head>

<body>
    <h1>We will be back</h1>
    <p>
        The file is currently being updated
    </p>
</body>

</html>